@media (max-width: 800px) {
  body{
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .cabecalho {
    align-items: center;
    justify-content: left;
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .conteudo__entrada{
    padding: 0;
  }

  .conteudo__entrada__textarea{
    height: 600px;
  }

  .conteudo__saida{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .conteudo__saida__principal{
    width: 100%;
  }
  .conteudo__saida__imagem{
    display: none;
  }
  .conteudo__saida__secundario{
    width: 100%;
    max-height: 400px;
    text-wrap: wrap;
    text-overflow: ellipsis;
    background-color: blueviolet;
  }
}

@media (max-width: 376px){
  .cabecalho{
    height: 96px;
  }

  .conteudo__entrada__textarea{
    height: 300px;
  }
  .conteudo__entrada__botoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .botao{
    width: 100%;
  }

  .conteudo__saida__principal{
    width: 327px;
    height: fit-content;
    padding: 2rem;
  }

  .conteudo__saida__principal__texto{
    width: 263px;
    height: 122px;
    gap: 0.8rem;
  }
  h2{
    line-height: 20px;
    font-size: 22px;
  }
  h3{
    line-height: 18 nbpx;
  }
}