@media (max-width: 800px) {
  .grupo__conteudo__cabecalho{
    flex-direction: column;
    gap: 1.5rem;
  }

  .cabecalho {
    justify-content: left;
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .conteudo__entrada{
    padding: 0;
  }

  .conteudo__entrada__textarea{
    height: 600px;
  }

  .conteudo__saida{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

  }

  .conteudo__saida__principal{
    width: 100%;
  }
  .conteudo__saida__imagem{
    display: none;
  }
  .conteudo__saida__secundario{
    width: 100%;
    min-height: 400px;
    max-height: 500px;
  }

  .botao{
    width: 90%;
  }
}

@media (max-width: 376px){
  .grupo__conteudo__cabecalho{
    padding-bottom: 200px;
  }
  .cabecalho{
    height: 96px;
  }

  .conteudo__entrada__textarea{
    height: 300px;
  }
  .conteudo__entrada__botoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .conteudo__saida__principal{
    width: 327px;
    height: fit-content;
    padding: 2rem;
  }

  .conteudo__saida__principal__texto{
    width: 263px;
    height: 122px;
    gap: 0.8rem;
  }

  h2{
    line-height: 20px;
    font-size: 22px;
  }
  h3{
    line-height: 18 nbpx;
  }
}