@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  /* cores para textos */
  --cor-primaria-texto: #0A3871;
  --cor-secundaria-texto: #495057;
  --cor-terciaria-texto: #343A40;
  --cor-quaternaria-texto: #ffffff;

  /* cores para preenchimento */
  --cor-primaria-preenchimento: #E9ECF8;
  --cor-secundaria-preenchimento: #0A3871;
  --cor-terciaria-preenchimento: #D8DFE8;
  --cor-quaternaria-preenchimento: #ffffff;

  /* padrão de formatação de textos */
  --fonte-primaria: "Inter", sans-serif;
  --fonte-tamanho-principal: 1rem ;
}
*{
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--cor-primaria-preenchimento);
  font-family: var(--fonte-primaria);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.grupo__conteudo__cabecalho{
  width: 100%;
  gap: 2.5rem;
  display: flex;
}

.cabecalho{
  width: 120px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.conteudo{
  width: 100%;
  height: 944px;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.conteudo__entrada{
  width: 100%;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.conteudo__entrada__campo{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 10px;
}

.conteudo__entrada__textarea{
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  background-color: var(--cor-primaria-preenchimento);
  font-family: var(--fonte-primaria);
  font-size: 2rem;
  line-height: 3rem;
  color: var(--cor-primaria-texto); 
}

.conteudo__entrada__textarea::placeholder{
  font-family: var(--fonte-primaria);
  font-size: 2rem;
  line-height: 3rem;
  color: var(--cor-primaria-texto); 
}

.conteudo__aviso{
  height: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--fonte-primaria);
  font-size: 12px;
  color: var(--cor-secundaria-texto);
}

.conteudo__icone{
  width: 16px;
  height: 16px;
}

.conteudo__entrada__botoes{
  width: 100%;
  display: flex;
  gap: 1.5rem;
}

.botao{
  width: 328px;
  height: 67px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fonte-tamanho-principal);
  border: 1px solid var(--cor-secundaria-preenchimento);
  color: var(--cor-primaria-texto);
  font-family: var(--fonte-primaria);
  cursor: pointer;
}

.botao__encriptar{
  color: var(--cor-quaternaria-texto);
  background-color: var(--cor-secundaria-preenchimento);
}

.botao__descriptar:disabled{
  background-color: var(--cor-terciaria-preenchimento);
}

.conteudo__saida{
  width: 400px;
  padding: 2.5rem 2rem;
  border-radius: 2rem;
  background-color: var(--cor-quaternaria-preenchimento);
  box-shadow: 0px 24px 32px -8px #00000014;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudo__saida__principal{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.conteudo__escondido{
  display: none;
}

.conteudo__saida__principal__texto{
  width: 100%;
  height: 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: var(--fonte-primaria);
  text-align: center;
}

h2{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
  color: var(--cor-terciaria-texto);
}

h3{
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: var(--cor-secundaria-texto);
}

.conteudo__saida__imagem{
  width:336px;
  height:304px;
}

.conteudo__saida__secundario{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.conteudo__saida__texto{
  width: 100%;
  max-height: 80%;
  padding: 1rem;
  font-family: var(--fonte-primaria);
  font-size: 24px;
  color: var(--cor-primaria-texto);
  text-wrap: wrap;
  word-break: break-all;
  overflow-y: scroll;
}

.rodape{
  width: 100%;
  height: 150px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.rodape__conteudo{
  font-size: var(--fonte-tamanho-principal);
  color: var(--cor-primaria-texto);
}